.SearchForm .btn-primary {
  background: #353942;
  color: #eff1f3;
  border: none;
}
.SearchForm .btn-primary:hover {
  background: #545b69;
  transition: all 300ms ease-in-out;
}

.SearchForm .findCurrent-button {
  background: #224997;
  border: none;
  color: #f1f6fc;
}
.SearchForm .findCurrent-button:hover {
  background: #2e5dbb;
  transition: all 300ms ease-in-out;
}

.SearchForm .findCurrent-button i {
  font-size: 19px;
}
